@model IEnumerable<Final_POE_TimeMangement.Models.Modules>

@{
    ViewData["Title"] = "Index";
}
<style>
    th, td {
        border: 1px solid #83EEFF;
    }

    .table-background {
        background: linear-gradient(#ADD8E6,white);
    }

    h2 {
        color: #ADD8E6
    }

    th {
        color: #BC13FE
    }

</style>

<h1>Modules</h1>


<table class="table" style="border: 3px solid #83EEFF ; ">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ModuleCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModuleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModuleCredits)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModuleClassHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Semester)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SelfStudyHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudyHoursLeft)
            </th>
    <th>
                @Html.DisplayNameFor(model => model.UserID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ModuleCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModuleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModuleCredits)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModuleClassHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Semester)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SelfStudyHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudyHoursLeft)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserID)
            </td>
            <td>
                   <div class="btn-group" role="group" aria-label="Basic example">
    <a asp-action="Edit" asp-route-id="@item.ModuleId" class="btn btn-light">Edit</a>&nbsp;
    <a asp-action="Details" asp-route-id="@item.ModuleId" class="btn btn-light">Details</a>&nbsp;
    <a asp-action="Delete" asp-route-id="@item.ModuleId" class="btn btn-danger">Delete</a> &nbsp;
</div>

            </td>
        </tr>
}
    </tbody>
</table>
<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>