@model Final_POE_TimeMangement.Models.StudyHours

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>StudyHours</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudyModule)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudyModule.ModuleId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudyDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudyDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hours)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.StudyHourId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
